.list {
  border: 1px solid rebeccapurple;
  width: 1200px;
  margin: 100px auto;
}

.list__header {
  text-align: center;
}

.notebook {
  border: 1px solid salmon;
  width: 800px;
  margin: 50px auto;
}

.notebook__menu {
  position: relative;
  border: 1px solid blue;
  width: 200px;
}

.notebook__items {
  border: 1px solid forestgreen;
  font-size: 20px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.notebook__item {
  border: 1px dotted green;
  height: 20px;
  padding: 10px;
  margin: 5px;
}

.notebook__button {
  width: 100%;
  height: 40px;
}

.notebook__text {
  width: 100%;
}
