.content {
  border: 1px solid red;
  width: 1200px;
  margin: 50px auto 0;
  text-align: center;
}

.content__header {
  border: 1px saddlebrown solid;
  width: 80%;
  margin: auto;
}

.notebook {
  width: 500px;
  border: 1px solid red;
  margin: 50px auto;
  position: relative;
}

.notebook__menu {
  border: 1px solid saddlebrown;
  width: 150px;
  position: absolute;
  right: 105%;
}

.notebook__items {
  padding: 0;
  margin: 0;
}

.notebook__item {
  border: 1px dashed green;
  padding: 5px;
  text-align: center;
  margin: 10px;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
}

.notebook__item:hover,
.notebook__item:active {
  background: #f1f1f1;
}

.notebook__button {
  width: 100%;
  padding: 5px;
  height: 30px;
}

.notebook__text {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

.element__display_off {
  display: none;
}
